@import url('https://fonts.googleapis.com/css?family=Muli');

h1, p{

    font-family: 'Muli', sans-serif;

}

ion-card{
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
}

p{

    text-align: center;

}

ion-button{

    margin-bottom: 15px;

}

ion-content{

    background-color: #dee1e5;

}

#desenvolvido{

    font-size: 80%;

}

#logo{

    width: 180px;
    margin-left: auto;
    margin-right: auto;

}