<ion-content padding>
  <ion-card>
      <img id="logo" src="assets/images/DS.PNG">
      <p>Bem vindo a plataforma online DSAT, efetue o login para continuar.</p>
    <ion-item>
      <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="loginInput">
          <label class="mdl-textfield__label" for="loginInput">Login</label>
        </div>
      </form>
    </ion-item>
    <ion-item>
      <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" id="senhaInput">
          <label class="mdl-textfield__label" for="senhaInput">Senha</label>
        </div>
      </form>
    </ion-item>
    <p>Não lembra seu acesso? <a href="">clique aqui!</a></p>
    <ion-button color="primary" fill="outline" href="/tabs/(home:home)">Acessar</ion-button>
  </ion-card>
  <p id="desenvolvido">Desenvolvido por DSAT sistemas.</p>
</ion-content>
